.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.options div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 2rem;
}

.options .answer {
    text-align: start;
    width: 13rem;
    font-size: 1.3rem;
    width: auto;
    max-width: 57vw;
    min-width: 17rem;
    padding: 0.7rem 1rem;
    margin: 0.37rem 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    border: none;
}
.options .answer:hover {
    background-color: lightcyan;
}
/* .options .answer span{
    margin-right: 1.3rem;
    background: beige;
    padding: 0.7rem 1rem;
    border-radius: 5px;
} */

div.nextBtn {
    margin: 1rem 0;
    position: absolute;
    bottom: 1rem;
    right: 3rem;
}
button.btnNext {
    margin-left: 2rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}

